<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.ReactSextant.wps">

    <application>
        <provider
                android:name=".WPSOfficeFileProvider"
                android:authorities="${applicationId}.wpsProvider"
                android:exported="false"
                android:grantUriPermissions="true">

            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/wps_file_paths" />

        </provider>
        <activity android:name="cn.wps.moffice_eng"/>

    </application>
</manifest>
